" References:
" https://github.com/JetBrains/ideavim/wiki/set-commands#ideavim-only-options


let mapleader=' '                   " Set <space> as the leader key

" Vim options
" -------------------------------------------------------------------------------------------------
set clipboard^=unnamedplus,unnamed  " ALWAYS use the clipboard for ALL operations
set history=100                     " Number of command-lines that are remembered
set hlsearch                        " Highlight matches with the last search pattern
set ignorecase                      " Ignore case in search patterns
set incsearch                       " Show where search pattern typed so far matches
set nrformats-=octal                " Number formats recognized for CTRL-A command
set showcmd                         " Show (partial) command in the status bar
set showmode                        " Show the current mode in the status bar
set smartcase                       " Use case sensitive search if any character in the
set timeout                         " Use timeout for mapped key sequences
set timeoutlen=500                  " Timeout duration for a mapped key sequence
set virtualedit=block               " Allow cursor to move where there is no text in visual block mode
set visualbell                      " When on, prevents beeping on error
set scrolloff=5                     " Vim-sensible overrides to 1 if not set, but set in defaults.vim
set sidescrolloff=5                 " Minimal number of screen columns to keep to the left and to the right of the cursor
set number                          " Show number in gutter
set relativenumber                  " Show the line number relative to the line with the cursor
set breakindent                     " Same amount of space as the beginning of that line
set cursorline                      " Highlight the text line of the cursor with CursorLine
set matchpairs+=<:>                 " Jump between angle brackets


" IdeaVim (ONLY) options
" -------------------------------------------------------------------------------------------------
set ideajoin                        " Smart join for <C-J>
set ideamarks                       " Map vim marks to IDEA global marks

" Keymaps
" -------------------------------------------------------------------------------------------------
" Don't override default register while pasting
xnoremap p P

" Open .ideavimrc
noremap <leader>cc :edit ~/.ideavimrc<CR>

" Remove highlights with escape
nmap <Esc> :nohlsearch<CR>

" Redo with 'U' instead of <C-r>
nmap U <C-r>

" Move lines up and down
xmap <C-j> <Action>(MoveLineDown)
xmap <C-k> <Action>(MoveLineUp)

" Move back and forth among tabs
nnoremap <leader><tab>] :tabnext<CR>
nnoremap <leader><tab>[ :tabprev<CR>

" Current window split horizontally, vertically, equal size
nnoremap <Leader>_ <C-w>s
nnoremap <Leader>\| <C-w>v
nnoremap <Leader>= <C-w>=

" Keybinds to make split navigation easier.
"  Use CTRL+<hjkl> to switch between windows
"
" See `:help wincmd` for a list of all window commands
nnoremap <C-h> <C-w><C-h>
nnoremap <C-j> <C-w><C-j>
nnoremap <C-k> <C-w><C-k>
nnoremap <C-l> <C-w><C-l>

" Better indenting
vnoremap < <gv
vnoremap > >gv

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

" Go around
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gh <Action>(ShowHoverInfo)
nmap K  <Action>(ShowHoverInfo)
nmap gI <Action>(QuickImplementations)
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTest)
nmap gm <Action>(GotoSuperMethod)

" Usage
map <leader>ug <Action>(FindUsages)
map <leader>uu <Action>(ShowUsages)

" File structure
map <leader>oo <Action>(FileStructurePopup)

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)

" File navigation, find, move, replace ...
map <S-f> <Action>(Find)
map <S-r> <Action>(Replace)
map <leader><leader> <Action>(SearchEverywhere)
map <leader>se <Action>(SearchEverywhere)
map <leader>sf <Action>(GotoFile)
map <leader>sa <Action>(GotoAction)
map <leader>sc <Action>(GotoClass)
map <leader>ss <Action>(GotoSymbol)
map <leader>sg <Action>(FindInPath)
map <leader>sb <Action>(RecentFiles)
map <leader>sl <Action>(RecentLocations)
map <leader>sr <Action>(ReplaceInPath)

" Code actions
map <leader>ca <Action>(ShowIntentionActions)

" Organize imports
map <leader>co <Action>(OptimizeImports)

" Format code
map <leader>cf <Action>(ReformatCode)

" Plugins
" -------------------------------------------------------------------------------------------------
Plug 'tpope/vim-surround'

Plug 'preservim/nerdtree'
let g:NERDTreeQuitOnOpen = 1
nnoremap <leader>e :NERDTreeToggle<CR>

Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_color = 'rgba(69, 48, 43, 255)'
let g:highlightedyank_highlight_foreground_color = 'rgba(100, 100, 100, 255)'